Repository crislerwin/reactive-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

chore: invoices crud
  package.json
  pnpm-lock.yaml
  prisma/types.d.ts
  src/common/constants/index.ts
  src/common/schemas/invoices.schema.ts
  src/components/Input/InputForm.tsx
  src/components/Input/Select.tsx
  src/components/Input/TextField.tsx
  src/components/Input/generateError.ts
  src/components/Input/index.tsx
  src/components/SideMenu/SideMenu.tsx
  src/components/SmartForm/index.tsx
  src/design-system/Table/index.tsx
  src/pages/invoices.tsx
  src/server/api/routers/invoices-router/index.ts
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: id label
  src/pages/invoices.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: button
  src/common/constants/index.ts
  src/pages/invoices.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix:test
  prisma/schema.prisma
  src/pages/invoices.tsx
  src/pages/products.tsx
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/routers/invoices-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

fix: item order
  src/components/SideMenu/SideMenu.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: added type column
  prisma/schema.prisma
  src/common/constants/index.ts
  src/common/schemas/invoices.schema.ts
  src/components/Chart/index.tsx
  src/components/SideMenu/SideMenu.tsx
  src/pages/invoices.tsx
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/routers/invoices-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

chore: created an dashboard
  package.json
  pnpm-lock.yaml
  src/components/Charts/AreaChartComponent.tsx
  src/components/Charts/Chart.tsx
  src/components/ui/select.tsx
  src/pages/index.tsx
  src/server/api/root.ts
  src/server/api/routers/customer-router/index.ts
  src/server/api/routers/index.ts
  src/server/api/routers/invoices-router/index.ts
  src/server/api/routers/report-router/index.ts
  src/server/api/routers/staff-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: added a graph
  src/pages/index.tsx
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/routers/invoices-router/index.ts
  src/server/api/routers/report-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

chore: fix: home
  src/server/api/routers/report-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: chart skeleton
  src/pages/index.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

added only the paid invoices
  src/server/api/routers/report-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: change files
  .lintstagedrc.json
  src/pages/staff.tsx
  src/server/api/__tests__/__mocks__/index.ts
  src/server/api/__tests__/customer-router.test.ts
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/__tests__/staff-router.test.ts
  src/server/api/auth/auth.ts
  src/server/api/routers/customer-router/index.ts
  src/server/api/routers/report-router/index.ts
  src/server/api/routers/staff-router/index.ts
  src/server/api/trpc.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

fix: file
  src/server/api/__tests__/invoices-router.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

chore: refactor tests
  src/common/errors/customErrors.ts
  src/server/api/__tests__/__mocks__/index.ts
  src/server/api/__tests__/branch-router.test.ts
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/__tests__/staff-router.test.ts
  src/server/api/routers/invoices-router/index.ts
  src/server/api/routers/staff-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

refactor: remove unecessary provider
  src/common/constants/index.ts
  src/components/SideMenu/SideMenu.tsx
  src/components/SideMenu/hooks/SideBarProvider.tsx
  src/components/SideMenu/hooks/index.ts
  src/components/SideMenu/hooks/useSideBar.ts
  src/components/SideMenu/index.ts
  src/pages/_app.tsx
  src/pages/dashboard.tsx
  src/pages/index.tsx
  src/styles/globals.scss
Due: eslint --quiet --fix, prettier --write --ignore-unknown

chore: remove menu
  src/components/MenuItems/MenuItems.tsx
  src/components/SearchBar/ListItem.tsx
  src/components/SideMenu/SideMenu.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

feat: added page carousel
  package.json
  pnpm-lock.yaml
  public/banner3.jpg
  src/components/SearchBar/ListItem.tsx
  src/components/ui/HeroCarousel.tsx
  src/components/ui/button.tsx
  src/components/ui/carousel.tsx
  src/pages/index.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: wrong changes
  package.json
  pnpm-lock.yaml
  src/common/constants/index.ts
  src/components/SideMenu/SideMenu.tsx
  src/components/ui/HeroCarousel.tsx
  src/pages/dashboard.tsx
  src/pages/index.tsx
  src/pages/sign-in/[[...sign-in]].tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: pnpm lock
  pnpm-lock.yaml
Due: none

fix: remove svg title prop
  src/pages/sign-in/[[...sign-in]].tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

test: Add tests for normalizeString and stringToBool utils
  src/common/utils/utils.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

Enhance Dependabot configuration with auto-merge settings
  .github/dependabot.yml
Due: none

Enhance Dependabot configuration
  .github/dependabot.yml
Due: none

fix: update tailwind configuration
  tailwind.config.js
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Improve README structure and content
  README.md
Due: none

Improve test coverage for utility functions
  src/common/utils/utils.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

Update README and docker-compose.yml
  .npmrc
  README.md
  docker-compose.yml
Due: none

Update server.yml with new database settings
  .github/workflows/server.yml
Due: none

chore: update Node.js version and specify package manager in package.json
  .nvmrc
  package.json
Due: prettier --write --ignore-unknown

Fix failing tests in invoices-router and branch-router
  pnpm-lock.yaml
  src/server/api/__tests__/branch-router.test.ts
  src/server/api/__tests__/invoices-router.test.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

feat: implement multi-database setup with SQLite for dev and MySQL for prod
  .eslintrc.cjs
  .gitignore
  .lintstagedrc.json
  README.md
  docs/DATABASE_SETUP.md
  docs/IMPLEMENTATION_SUMMARY.md
  package.json
  pnpm-lock.yaml
  prisma/schema.base.prisma
  scripts/generate-schema.js
  scripts/setup-dev-db.js
  src/env.mjs
  src/lib/db-helpers.ts
  src/server/api/routers/branch-router/index.example.ts
  src/server/db.ts
  tsconfig.json
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Switch from SQLite to MySQL and update column types to JSON
  prisma/schema.prisma
Due: none

Fix JSON serialization for SQLite compatibility
  prisma/schema.prisma
  src/server/api/__tests__/__mocks__/test-helpers.ts
  src/server/api/__tests__/branch-router.test.ts
  src/server/api/__tests__/product-router.test.ts
  src/server/api/routers/branch-router/index.ts
  src/server/api/routers/invoices-router/index.ts
  src/server/api/routers/product-router/index.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

Update GitHub Actions workflow to use SQLite
  .github/workflows/server.yml
Due: none

Fix Vercel deployment by making DATABASE_PROVIDER optional with mysql default
  src/env.mjs
  src/lib/db-helpers.ts
  src/server/db.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Add Vercel configuration file
  vercel.json
Due: prettier --write --ignore-unknown

deploy:
  README.md
Due: none

fix: build and typo issues
  src/pages/invoices.tsx
  src/server/api/__tests__/branch-router.test.ts
  src/server/api/routers/branch-router/index.example.ts
  src/server/api/routers/branch-router/index.ts
  src/server/api/routers/invoices-router/index.ts
  src/server/api/routers/product-router/index.ts
  src/server/db.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown, npm test:ci

Add seeding scripts and documentation
  package.json
  prisma/schema.base.prisma
  prisma/schema.prisma
  scripts/README.md
  scripts/seed-config.js
  scripts/seed-staff.js
  scripts/seed.js
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Fix database provider string interpolation in schema
  prisma/schema.prisma
  scripts/generate-schema.js
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Path conditions:
  eslint --quiet --fix: any of: *.{js, jsx,ts,tsx}
  prettier --write --ignore-unknown: any of: *.{json,js,ts,jsx,tsx,html}
  npm test:ci: any of: *.test.ts
