Repository crislerwin/reactive-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

.lintstagedrc.json:

{
  "*.ts": ["npm run format", "eslint --fix --ext .tsx,.ts"],
  "*.test.ts": ["npm test:ci"]
}

fix: remove lint staged commands from package.json
  package.json
Due: none

chore: added lint-staged-config
  .lintstagedrc.json
Due: none

fix: tst
  .lintstagedrc.json
  src/server/api/__tests__/product-category.test.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

fix: getServerSide props on unauthorized page
  pnpm-lock.yaml
  src/pages/unauthorized.tsx
Due: none

chore: styles fixes
  app/globals.css
  src/components/Chart/index.tsx
  src/components/SideMenu/SideMenu.tsx
  src/pages/index.tsx
  src/pages/unauthorized.tsx
  src/styles/globals.css
Due: none

chore: styles adjustments
  src/components/Button/Button.tsx
  src/components/SideMenu/SideMenu.tsx
  src/components/Table/index.tsx
  src/components/ThemeToggle/ThemeProvider.tsx
  src/components/ThemeToggle/utils.ts
Due: npm run format, eslint --fix --ext .tsx,.ts

chore: hide columns
  src/components/Table/index.tsx
  src/pages/branch.tsx
  src/pages/product-category.tsx
  src/pages/products.tsx
  src/pages/staff.tsx
Due: none

chore: fix: styles
  src/components/ActionModal/index.tsx
  src/design-system/Table/Table.stories.tsx
  src/design-system/Table/index.tsx
  src/design-system/index.ts
  src/pages/branch.tsx
  src/pages/product-category.tsx
  src/pages/products.tsx
  src/pages/staff.tsx
  src/pages/unauthorized.tsx
Due: npm run format, eslint --fix --ext .tsx,.ts

chore: fix: styles
  src/components/Chart/index.tsx
  src/components/ui/card.tsx
Due: none

chore: fix: styles
  src/common/constants/index.ts
  src/components/Button/Button.tsx
  src/components/Chart/index.tsx
  src/components/SideMenu/SideMenu.tsx
  src/styles/globals.css
Due: npm run format, eslint --fix --ext .tsx,.ts

chore: should allow only create product with valid product category id
  src/common/errors/customErrors.ts
  src/pages/branch.tsx
  src/pages/product-category.tsx
  src/pages/products.tsx
  src/pages/staff.tsx
  src/server/api/__tests__/__mocks__/index.ts
  src/server/api/__tests__/product-router.test.ts
  src/server/api/routers/product-router/index.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

fix: remove .only
  src/server/api/__tests__/product-router.test.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

chore: update pnpm lock
  pnpm-lock.yaml
Due: none

fix: product category tests
  src/server/api/__tests__/product-category.test.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

fix: admin show products of their branches
  src/server/api/__tests__/product-router.test.ts
  src/server/api/routers/product-router/index.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

fix: remove console.log
  src/pages/product-category.tsx
  src/pages/products.tsx
Due: none

chore: create customer crud
  src/common/constants/index.ts
  src/common/schemas/customer.schema.ts
  src/components/SideMenu/SideMenu.tsx
  src/pages/customers.tsx
  src/server/api/__tests__/customer-router.test.ts
  src/server/api/routers/customer-router/index.ts
  src/server/api/trpc.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

chore: fix field name
  src/pages/customers.tsx
Due: none

chore: fix update values
  pnpm-lock.yaml
  src/common/schemas/customer.schema.ts
  src/pages/customers.tsx
Due: npm run format, eslint --fix --ext .tsx,.ts

fix: errors
  src/server/api/routers/customer-router/index.ts
Due: npm run format, eslint --fix --ext .tsx,.ts

chore: invoice create
  prisma/schema.prisma
  src/common/schemas/index.ts
  src/common/schemas/invoices.schema.ts
  src/server/api/root.ts
  src/server/api/routers/index.ts
  src/server/api/routers/invoices-router/index.ts
Due: npm run format, eslint --fix --ext .tsx,.ts

chore: create product invoices
  prisma/schema.prisma
  src/common/schemas/staff.schema.ts
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/routers/invoices-router/index.ts
  src/server/api/routers/staff-router/index.ts
  tsconfig.json
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

chore: ensure that save a valid product
  src/common/errors/customErrors.ts
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/routers/invoices-router/index.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

chore: update, getAll and getOne crud operations
  pnpm-lock.yaml
  src/common/schemas/invoices.schema.ts
  src/common/schemas/staff.schema.ts
  src/server/api/__tests__/__mocks__/index.ts
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/routers/invoices-router/index.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

refactor: changes
  package.json
  pnpm-lock.yaml
Due: none

refactor: update clerk
  pnpm-lock.yaml
  src/components/SideMenu/SideMenu.tsx
  src/middleware.ts
  src/server/api/auth/auth.ts
Due: npm run format, eslint --fix --ext .tsx,.ts

refactor: changes
  src/design-system/Button/Button.stories.tsx
  src/design-system/Button/index.tsx
  src/design-system/index.ts
  src/pages/unauthorized.tsx
Due: npm run format, eslint --fix --ext .tsx,.ts

refactor: crud table operations
  prisma/schema.prisma
  src/design-system/Button/index.tsx
  src/design-system/Table/index.tsx
  src/pages/branch.tsx
  src/pages/customers.tsx
  src/pages/product-category.tsx
  src/pages/staff.tsx
Due: none

fix: product screen
  src/pages/products.tsx
Due: none

fix: remove unused import
  src/pages/products.tsx
Due: none

chore: using scss
  .storybook/preview.ts
  components.json
  package.json
  pnpm-lock.yaml
  src/components/SideMenu/SideMenu.tsx
  src/pages/_app.tsx
  src/styles/globals.scss
  src/styles/mantine.module.scss
Due: npm run format, eslint --fix --ext .tsx,.ts

refactor: avoid throw on server side
  src/design-system/Table/index.tsx
  src/server/api/auth/auth.ts
  src/server/api/trpc.ts
Due: npm run format, eslint --fix --ext .tsx,.ts

refactor: repeated code
  src/design-system/Table/index.tsx
Due: none

fix: build
  src/pages/branch.tsx
  src/pages/product-category.tsx
Due: none

fix: hide admin delete button
  src/design-system/Table/index.tsx
  src/pages/branch.tsx
  src/pages/staff.tsx
  src/styles/mantine.module.scss
Due: none

fix: dropdown styles
  src/styles/mantine.module.scss
Due: none

refactor: delete modal
  src/design-system/Table/Table.stories.tsx
  src/design-system/Table/index.tsx
  src/pages/branch.tsx
  src/pages/customers.tsx
  src/pages/product-category.tsx
  src/pages/products.tsx
  src/pages/staff.tsx
  src/styles/mantine.module.scss
Due: none

chore: visual changes
  src/common/constants/index.ts
  src/components/SideMenu/SideMenu.tsx
  src/design-system/Table/index.tsx
  src/pages/invoices.tsx
  src/pages/staff.tsx
  src/server/api/__tests__/invoices-router.test.ts
  src/server/api/routers/invoices-router/index.ts
  src/styles/globals.scss
  src/styles/mantine.module.scss
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci

chore: not allowed to edit owners
  src/pages/staff.tsx
Due: none

chore: not allowed to edit owners
  src/server/api/__tests__/staff-router.test.ts
  src/server/api/routers/staff-router/index.ts
Due: npm run format, eslint --fix --ext .tsx,.ts, npm test:ci
