Repository crislerwin/reactive-erp: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --quiet --fix, prettier --write --ignore-unknown, prettier --write

.lintstagedrc.json:

{
  "src/**/*.{js,jsx,ts,tsx}": ["eslint --quiet --fix"],
  "*.{json,ts,jsx,tsx,html}": ["prettier --write --ignore-unknown"],
  "scripts/*.js": ["prettier --write"]
}

Add Layout component and refactor page layouts
  src/components/Layout/Layout.tsx
  src/components/Layout/index.ts
  src/pages/_app.tsx
  src/pages/account/index.tsx
  src/pages/branch.tsx
  src/pages/customers.tsx
  src/pages/index.tsx
  src/pages/invoices.tsx
  src/pages/product-category.tsx
  src/pages/products.tsx
  src/pages/staff.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Fix sidebar icons not showing when collapsed
  demo.html
  src/components/MenuItems/MenuItems.tsx
Due: eslint --quiet --fix, prettier --write --ignore-unknown

fix: remove dumb demo.html
  demo.html
Due: prettier --write --ignore-unknown

Add comprehensive business report functionality
  docs/ESLINT_FIXES.md
  docs/REPORTS.md
  src/components/Charts/Chart.tsx
  src/pages/index.tsx
  src/pages/reports-demo.tsx
  src/server/api/routers/report-router/index.ts
  src/server/api/routers/report-router/types.ts
  src/server/api/routers/report-router/utils.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Switch from SQLite to PostgreSQL
  .env.example
  .gitignore
  docker-compose.yml
  prisma/schema.prisma
  src/env.mjs
  src/lib/db-helpers.ts
  src/server/api/__tests__/__mocks__/test-helpers.ts
  src/server/db.ts
  src/test-setup.ts
  vitest.config.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Switch CI database from SQLite to PostgreSQL
  .github/workflows/server.yml
Due: none

Upgrade Node.js version to 22.x in CI workflow
  .github/workflows/server.yml
Due: none

update pnpm lock
  pnpm-lock.yaml
Due: none

Update pnpm version to 9.x
  .github/workflows/server.yml
Due: none

fix form
  src/components/SmartForm/index.tsx
  src/test-setup.ts
Due: eslint --quiet --fix, prettier --write --ignore-unknown

Convert chart component to use tabs for indentation
  .zed/settings.json
Due: prettier --write --ignore-unknown

Fix Docker ports mapping and update Clerk env vars
  .env.example
  .eslintrc.cjs
  docker-compose.yml
  package.json
  pnpm-lock.yaml
Due: prettier --write --ignore-unknown

chore: update docs
  README.md
Due: none
